<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taowd.mapper.UsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.taowd.entity.Users">
        <id column="uid" property="uid" />
        <result column="userName" property="userName" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="homeUrl" property="homeUrl" />
        <result column="screenName" property="screenName" />
        <result column="created" property="created" />
        <result column="activated" property="activated" />
        <result column="logged" property="logged" />
        <result column="groupName" property="groupName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, userName, password, email, homeUrl, screenName, created, activated, logged, groupName
    </sql>

</mapper>
